@media screen and (max-width: 992px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
    }
    li {
        font-size: 40px;
    }
}
h1 {
    font-align: center;
    font-family: Garamond, "Times New Roman", Serif;
    font-style: italic;
p {
    font-family: Garamond, "Times New Roman", Serif;
}
.pypicture {
    border-radius: 12px;
}
nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
