@media screen and (max-width: 992px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
    }
    li {
        font-size: 40px;
    }
}
h1 {
    font-align: center;
    font-family: Garamond, "Times New Roman", Serif;
    font-style: italic;
p {
    font-family: Garamond, "Times New Roman", Serif;
}
.pypicture {
    border-radius: 12px;
}
.menu {
  list-style: none;
  margin: 0; 
  padding-left: 0;
}
.menulink {
    text-decoration: none;
}
.menulist {
    display: inline;
    margin-right: -4px;
}
